@media screen and (max-width: 980px) {
	.members {
		max-width: 45%;
	}
}

@media screen and (max-width: 600px) {
	.members {
		max-width: 100%;
	}

	header {
		height: 40px;

	}

	.header-wrapper {
		line-height: 40px;
	}

	.header-kiri a {
		display: none;
	}

	.header-kanan a {
		display: none;
	}

	header span {
		display: block;
	}

	.landing-text h1 {
		font-size : 300%;
		letter-spacing: 10px;
	}
}
